@import './common'

@keyframes pulse
  50%
    transform scale(1.1, 1.1)
  100%
    transform scale(1, 1)

#stage
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-repeat repeat
  animation pulse 5s infinite
  &.is-01
    background-image url('./images/denim_01.jpg')
  &.is-02
    background-image url('./images/denim_02.jpg')
